* {
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margined {
  margin: 20px;
}

.self-centered {
  align-self: center;
}

.flex {
  display: flex;
}

.container {
  margin: 20px;
}

.btn {
  width: 100px;
  border: black 1px solid;
  background-color: gray;
  box-shadow: 5px 5px black;
  padding: 15px;
}

.room {
  display: inline-block;
  background-color: cadetblue;
  margin: 15px 0;
  padding: 15px;
  width: 250px;
  height: 250px;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
